{%- comment -%} START EASYPOINTS - DO NOT MODIFY! 変更しないでください! INFO @ https://bit.ly/2Dn7ESM {%- endcomment -%}
  {%- liquid
    assign shop_ep_metafield = shop.metafields.loyalty.easy_points_attributes.value
    assign point_cost_total = 0
    assign point_cost_product_count = 0

    for line_item in cart.items
      assign product_ep_metafield = line_item.product.metafields.loyalty.easy_points_attributes
      assign unit_point_cost = product_ep_metafield.value.point_exchange.point_cost
      assign unit_point_cost = product_ep_metafield.point_exchange.point_cost | default: unit_point_cost

      if unit_point_cost
        assign line_item_point_cost = unit_point_cost | times: line_item.quantity
        assign point_cost_total = point_cost_total | plus: line_item_point_cost
        assign point_cost_product_count = point_cost_product_count | plus: 1
      endif
    endfor
  -%}

  {%- unless shop_ep_metafield.stealth_mode or point_cost_product_count == 0 -%}
    <div class="easy-points__subtotal" data-loyal-target="subtotal">
      <div class="cart__total">
        <div class="cart__item-count">消費fポイント</div>
        <div class="cart__prices">
          <span class="cart__price">
            {{ point_cost_total | times: 100 | money_without_currency }}
            <span class="easy-points__text easy-points__text--suffix">
              {{ 'easypoints.points' | t }}
            </span>
          </span>
        </div>
      </div>
    </div>
  {%- endunless -%}
{%- comment -%} END EASYPOINTS {%- endcomment -%}
