<div class="checkout__header {{ media }}">
  <a href="{{ url | default: '#' }}" aria-label="戻る" class="header__left-button">
    {% render 'icon-arrow-left' %}
  </a>

  <div class="checkout__logo">
    <a href="/">
      {% render 'icon-logo' %}
    </a>
  </div>
</div>
