{%- case icon_alphabet -%}
  {%- when 'a' -%}
    <li class="product-laundry-symbol-item laundry-symbol-icon-wash-95"></li>
  {%- when 'b' -%}
    <li class="product-laundry-symbol-item laundry-symbol-icon-wash-70"></li>
  {%- when 'c' -%}
    <li class="product-laundry-symbol-item laundry-symbol-icon-wash-60"></li>
  {%- when 'd' -%}
    <li class="product-laundry-symbol-item laundry-symbol-icon-wash-60-delicate"></li>
  {%- when 'e' -%}
    <li class="product-laundry-symbol-item laundry-symbol-icon-wash-50"></li>
  {%- when 'f' -%}
    <li class="product-laundry-symbol-item laundry-symbol-icon-wash-50-delicate"></li>
  {%- when 'g' -%}
    <li class="product-laundry-symbol-item laundry-symbol-icon-wash-40"></li>
  {%- when 'h' -%}
    <li class="product-laundry-symbol-item laundry-symbol-icon-wash-40-delicate"></li>
  {%- when 'i' -%}
    <li class="product-laundry-symbol-item laundry-symbol-icon-wash-40-very-delicate"></li>
  {%- when 'j' -%}
    <li class="product-laundry-symbol-item laundry-symbol-icon-wash-30"></li>
  {%- when 'k' -%}
    <li class="product-laundry-symbol-item laundry-symbol-icon-wash-30-delicate"></li>
  {%- when 'l' -%}
    <li class="product-laundry-symbol-item laundry-symbol-icon-wash-30-very-delicate"></li>
  {%- when 'm' -%}
    <li class="product-laundry-symbol-item laundry-symbol-icon-wash-hand"></li>
  {%- when 'n' -%}
    <li class="product-laundry-symbol-item laundry-symbol-icon-wash-do-not"></li>
  {%- when 'o' -%}
    <li class="product-laundry-symbol-item laundry-symbol-icon-bleach"></li>
  {%- when 'p' -%}
    <li class="product-laundry-symbol-item laundry-symbol-icon-bleach-non-chlorine"></li>
  {%- when 'q' -%}
    <li class="product-laundry-symbol-item laundry-symbol-icon-bleach-do-not"></li>
  {%- when 'r' -%}
    <li class="product-laundry-symbol-item laundry-symbol-icon-dry-tumble-medium"></li>
  {%- when 's' -%}
    <li class="product-laundry-symbol-item laundry-symbol-icon-dry-tumble-low"></li>
  {%- when 't' -%}
    <li class="product-laundry-symbol-item laundry-symbol-icon-dry-tumble-do-not"></li>
  {%- when 'u' -%}
    <li class="product-laundry-symbol-item laundry-symbol-icon-dry-line"></li>
  {%- when 'y' -%}
    <li class="product-laundry-symbol-item laundry-symbol-icon-dry-line-in-shade"></li>
  {%- when 'v' -%}
    <li class="product-laundry-symbol-item laundry-symbol-icon-dry-line-drip"></li>
  {%- when 'z' -%}
    <li class="product-laundry-symbol-item laundry-symbol-icon-dry-line-drip-in-shade"></li>
  {%- when 'w' -%}
    <li class="product-laundry-symbol-item laundry-symbol-icon-dry-flat"></li>
  {%- when 'A' -%}
    <li class="product-laundry-symbol-item laundry-symbol-icon-dry-flat-in-shade"></li>
  {%- when 'x' -%}
    <li class="product-laundry-symbol-item laundry-symbol-icon-dry-flat-drip"></li>
  {%- when 'B' -%}
    <li class="product-laundry-symbol-item laundry-symbol-icon-dry-flat-drip-in-shade"></li>
  {%- when 'C' -%}
    <li class="product-laundry-symbol-item laundry-symbol-icon-iron-high"></li>
  {%- when 'D' -%}
    <li class="product-laundry-symbol-item laundry-symbol-icon-iron-medium"></li>
  {%- when 'E' -%}
    <li class="product-laundry-symbol-item laundry-symbol-icon-iron-low"></li>
  {%- when 'F' -%}
    <li class="product-laundry-symbol-item laundry-symbol-icon-iron-do-not"></li>
  {%- when 'G' -%}
    <li class="product-laundry-symbol-item laundry-symbol-icon-dry-clean-p"></li>
  {%- when 'H' -%}
    <li class="product-laundry-symbol-item laundry-symbol-icon-dry-clean-p-delicate"></li>
  {%- when 'I' -%}
    <li class="product-laundry-symbol-item laundry-symbol-icon-dry-clean-f"></li>
  {%- when 'J' -%}
    <li class="product-laundry-symbol-item laundry-symbol-icon-dry-clean-f-delicate"></li>
  {%- when 'K' -%}
    <li class="product-laundry-symbol-item laundry-symbol-icon-dry-clean-do-not"></li>
  {%- when 'L' -%}
    <li class="product-laundry-symbol-item laundry-symbol-icon-dry-clean-w"></li>
  {%- when 'M' -%}
    <li class="product-laundry-symbol-item laundry-symbol-icon-dry-clean-w-delicate"></li>
  {%- when 'N' -%}
    <li class="product-laundry-symbol-item laundry-symbol-icon-dry-clean-w-very-delicate"></li>
  {%- when 'O' -%}
    <li class="product-laundry-symbol-item laundry-symbol-icon-dry-clean-w-do-not"></li>
{%- endcase -%}
