<aside class="cart" data-cart-target="cart" id="cart">
  <div class="cart__close-button">
    <button data-action="cart#close" type="button">{% render 'icon-close' %}</button>
  </div>

  {%- section 'info-cart' -%}
  {%- section 'mini-cart-body' -%}
  {%- section 'mini-cart-footer' -%}
</aside>
