<option value="" disabled {% if province == blank %}selected{% endif %}>都道府県</option>
<option {% if province == '北海道' %}selected{% endif %} value="北海道">北海道</option>
<option {% if province == '青森県' %}selected{% endif %} value="青森県">青森県</option>
<option {% if province == '岩手県' %}selected{% endif %} value="岩手県">岩手県</option>
<option {% if province == '宮城県' %}selected{% endif %} value="宮城県">宮城県</option>
<option {% if province == '秋田県' %}selected{% endif %} value="秋田県">秋田県</option>
<option {% if province == '山形県' %}selected{% endif %} value="山形県">山形県</option>
<option {% if province == '福島県' %}selected{% endif %} value="福島県">福島県</option>
<option {% if province == '茨城県' %}selected{% endif %} value="茨城県">茨城県</option>
<option {% if province == '栃木県' %}selected{% endif %} value="栃木県">栃木県</option>
<option {% if province == '群馬県' %}selected{% endif %} value="群馬県">群馬県</option>
<option {% if province == '埼玉県' %}selected{% endif %} value="埼玉県">埼玉県</option>
<option {% if province == '千葉県' %}selected{% endif %} value="千葉県">千葉県</option>
<option {% if province == '東京都' %}selected{% endif %} value="東京都">東京都</option>
<option {% if province == '神奈川県' %}selected{% endif %} value="神奈川県">神奈川県</option>
<option {% if province == '新潟県' %}selected{% endif %} value="新潟県">新潟県</option>
<option {% if province == '富山県' %}selected{% endif %} value="富山県">富山県</option>
<option {% if province == '石川県' %}selected{% endif %} value="石川県">石川県</option>
<option {% if province == '福井県' %}selected{% endif %} value="福井県">福井県</option>
<option {% if province == '山梨県' %}selected{% endif %} value="山梨県">山梨県</option>
<option {% if province == '長野県' %}selected{% endif %} value="長野県">長野県</option>
<option {% if province == '岐阜県' %}selected{% endif %} value="岐阜県">岐阜県</option>
<option {% if province == '静岡県' %}selected{% endif %} value="静岡県">静岡県</option>
<option {% if province == '愛知県' %}selected{% endif %} value="愛知県">愛知県</option>
<option {% if province == '三重県' %}selected{% endif %} value="三重県">三重県</option>
<option {% if province == '滋賀県' %}selected{% endif %} value="滋賀県">滋賀県</option>
<option {% if province == '京都府' %}selected{% endif %} value="京都府">京都府</option>
<option {% if province == '大阪府' %}selected{% endif %} value="大阪府">大阪府</option>
<option {% if province == '兵庫県' %}selected{% endif %} value="兵庫県">兵庫県</option>
<option {% if province == '奈良県' %}selected{% endif %} value="奈良県">奈良県</option>
<option {% if province == '和歌山県' %}selected{% endif %} value="和歌山県">和歌山県</option>
<option {% if province == '鳥取県' %}selected{% endif %} value="鳥取県">鳥取県</option>
<option {% if province == '島根県' %}selected{% endif %} value="島根県">島根県</option>
<option {% if province == '岡山県' %}selected{% endif %} value="岡山県">岡山県</option>
<option {% if province == '広島県' %}selected{% endif %} value="広島県">広島県</option>
<option {% if province == '山口県' %}selected{% endif %} value="山口県">山口県</option>
<option {% if province == '徳島県' %}selected{% endif %} value="徳島県">徳島県</option>
<option {% if province == '香川県' %}selected{% endif %} value="香川県">香川県</option>
<option {% if province == '愛媛県' %}selected{% endif %} value="愛媛県">愛媛県</option>
<option {% if province == '高知県' %}selected{% endif %} value="高知県">高知県</option>
<option {% if province == '福岡県' %}selected{% endif %} value="福岡県">福岡県</option>
<option {% if province == '佐賀県' %}selected{% endif %} value="佐賀県">佐賀県</option>
<option {% if province == '長崎県' %}selected{% endif %} value="長崎県">長崎県</option>
<option {% if province == '熊本県' %}selected{% endif %} value="熊本県">熊本県</option>
<option {% if province == '大分県' %}selected{% endif %} value="大分県">大分県</option>
<option {% if province == '宮崎県' %}selected{% endif %} value="宮崎県">宮崎県</option>
<option {% if province == '鹿児島県' %}selected{% endif %} value="鹿児島県">鹿児島県</option>
<option {% if province == '沖縄県' %}selected{% endif %} value="沖縄県">沖縄県</option>
