<div class="search-list-line"></div>
<div class="search-result {{ margin_top }}" data-controller="search-result">
  <ul class="category-tab product-filter__header">
    {% assign items = "ITEM,TOPIC,NEWS" | split: ',' %}
    {% for item in items %}
      <li class="category-tab__item">
        <label>
          <input data-action="click->search-result#switch" data-search-result-target="tab" data-search-result-index-param="{{ forloop.index0 }}" name="tab" type="radio" value="{{ item }}">
          <span>{{ item }}</span>
        </label>
      </li>
    {% endfor %}
  </ul>
  <div class="search-result__container">
    <div class="search-result__content" data-search-result-target="content">
      <div class="container gap-70 lg:gap-90">
        <div class="product-list-result">      
            <div class="{%- if countItem == 0 -%}item-list-empty{% else %}item-list--product{%- endif -%}" data-controller="product-list">
              {%- if countItem == 0 -%}
                <p class="product-list__no-items">該当するアイテムがありませんでした</p>
              {%- else -%}
                {%- for item in search.results -%}
                  {% assign lazy_load = false %}
                  {%- if forloop.index > 2 -%}
                    {%- assign lazy_load = true -%}
                  {%- endif -%}
                  <div>
                    {%- render 'product-item', 
                    card_product: item,
                    media_aspect_ratio: true,
                    show_secondary_image: true,
                    lazyload: lazy_load 
                    -%}
                  </div>
                {%- endfor -%}  
              {%- endif -%}
            </div>
            {%- if paginate.pages > 1 -%}
              <div class="mt-90">
                {% render 'pagination-product', paginate: paginate %}
              </div>
            {%- endif -%}
      </div>
    </div>
  </div>
    <div class="search-result__content" data-search-result-target="content">
        <div id="item-topic--result">
        </div>
    </div>
    <div class="search-result__content" data-search-result-target="content">
        <div id="item-news--result">
        </div>
    </div>
  </div>
</div>
  