<ul class="size-guide">
  <li class="accordion" data-controller="accordion">
    <button aria-expanded="false" class="accordion__button accordion__button--has-icon" data-accordion-target="trigger" data-action="accordion#toggle" type="button">
      <img alt="洋服" height="35" src="{{'icon_clothes.svg' | asset_url}}" width="35">
      <span>洋服のサイズ</span>
    </button>
    <div class="accordion__content" data-accordion-target="content">
      <table>
        <thead>
          <tr>
            <th>表示</th>
            <th>身長</th>
            <th>胸囲(mm)</th>
            <th>胴囲(mm)</th>
            <th>体重(kg)</th>
            <th>参考年齢</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>50</td>
            <td>50</td>
            <td>ー</td>
            <td>ー</td>
            <td>3</td>
            <td>新生児</td>
          </tr>
          <tr>
            <td>60</td>
            <td>60</td>
            <td>ー</td>
            <td>ー</td>
            <td>6</td>
            <td>3ヶ月</td>
          </tr>
          <tr>
            <td>70</td>
            <td>70</td>
            <td>ー</td>
            <td>ー</td>
            <td>9</td>
            <td>6ヶ月</td>
          </tr>
          <tr>
            <td>80</td>
            <td>80</td>
            <td>ー</td>
            <td>ー</td>
            <td>11</td>
            <td>18ヶ月</td>
          </tr>
          <tr>
            <td>90</td>
            <td>90</td>
            <td>ー</td>
            <td>ー</td>
            <td>13</td>
            <td>2才</td>
          </tr>
          <tr>
            <td>100</td>
            <td>100</td>
            <td>52</td>
            <td>48</td>
            <td>ー</td>
            <td>3-4才</td>
          </tr>
          <tr>
            <td>110</td>
            <td>110</td>
            <td>56</td>
            <td>50</td>
            <td>ー</td>
            <td>4-5才</td>
          </tr>
          <tr>
            <td>120</td>
            <td>120</td>
            <td>60</td>
            <td>52</td>
            <td>ー</td>
            <td>6-7才</td>
          </tr>
          <tr>
            <td>130</td>
            <td>130</td>
            <td>64</td>
            <td>54</td>
            <td></td>
            <td>8-9才</td>
          </tr>
          <tr>
            <td>140</td>
            <td>140</td>
            <td>68</td>
            <td>56</td>
            <td></td>
            <td>10-11才</td>
          </tr>
          <tr>
            <td>150</td>
            <td>150</td>
            <td>74</td>
            <td>59</td>
            <td></td>
            <td>11-12才</td>
          </tr>
          <tr>
            <td>160</td>
            <td>160</td>
            <td>80</td>
            <td>62</td>
            <td></td>
            <td>13才以上</td>
          </tr>
        </tbody>
      </table>
    </div>
  </li>
  <li class="accordion" data-controller="accordion">
    <button aria-expanded="false" class="accordion__button accordion__button--has-icon" data-accordion-target="trigger" data-action="accordion#toggle" type="button">
      <img alt="靴" height="35" src="{{'icon_shoes.svg' | asset_url}}" width="35">
      <span>靴のサイズ</span>
    </button>
    <div class="accordion__content" data-accordion-target="content">
      <table>
        <thead>
          <tr>
            <th>表示</th>
            <th>サイズ</th>
            <th>参考年齢</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>110</td>
            <td>11.0</td>
            <td>8-10ヶ月</td>
          </tr>
          <tr>
            <td>115</td>
            <td>11.5</td>
            <td></td>
          </tr>
          <tr>
            <td>120</td>
            <td>12.0</td>
            <td>11-12ヶ月</td>
          </tr>
          <tr>
            <td>125</td>
            <td>12.5</td>
            <td>12-15ヶ月</td>
          </tr>
          <tr>
            <td>130</td>
            <td>13.0</td>
            <td>15-18ヶ月</td>
          </tr>
          <tr>
            <td>135</td>
            <td>13.5</td>
            <td>18-21ヶ月</td>
          </tr>
          <tr>
            <td>140</td>
            <td>14.0</td>
            <td>21-24ヶ月</td>
          </tr>
          <tr>
            <td>145</td>
            <td>14.5</td>
            <td></td>
          </tr>
          <tr>
            <td>150</td>
            <td>15.0</td>
            <td>2-3才</td>
          </tr>
          <tr>
            <td>155</td>
            <td>15.5</td>
            <td></td>
          </tr>
          <tr>
            <td>160</td>
            <td>16.0</td>
            <td>4-5才</td>
          </tr>
          <tr>
            <td>165</td>
            <td>16.5</td>
            <td></td>
          </tr>
          <tr>
            <td>170</td>
            <td>17.0</td>
            <td>6-7才</td>
          </tr>
          <tr>
            <td>175</td>
            <td>17.5</td>
            <td></td>
          </tr>
          <tr>
            <td>180</td>
            <td>18.0</td>
            <td>8-9才</td>
          </tr>
          <tr>
            <td>185</td>
            <td>18.5</td>
            <td></td>
          </tr>
          <tr>
            <td>190</td>
            <td>19.0</td>
            <td></td>
          </tr>
          <tr>
            <td>195</td>
            <td>19.5</td>
            <td></td>
          </tr>
          <tr>
            <td>200</td>
            <td>20.0</td>
            <td>10才以上</td>
          </tr>
          <tr>
            <td>205</td>
            <td>20.5</td>
            <td></td>
          </tr>
          <tr>
            <td>210</td>
            <td>21.0</td>
            <td>10才以上</td>
          </tr>
          <tr>
            <td>215</td>
            <td>21.5</td>
            <td></td>
          </tr>
          <tr>
            <td>220</td>
            <td>22.0</td>
            <td>10才以上</td>
          </tr>
        </tbody>
      </table>
    </div>
  </li>
  <li class="accordion" data-controller="accordion">
    <button aria-expanded="false" class="accordion__button accordion__button--has-icon" data-accordion-target="trigger" data-action="accordion#toggle" type="button">
      <img alt="ソックス" height="35" src="{{'icon_socks.svg' | asset_url}}" width="35">
      <span>ソックスのサイズ</span>
    </button>
    <div class="accordion__content" data-accordion-target="content">
      <table>
        <thead>
          <tr>
            <th>表示</th>
            <th>サイズ</th>
            <th>参考年齢</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>008</td>
            <td>7-9</td>
            <td>新生児-6ヶ月</td>
          </tr>
          <tr>
            <td>011</td>
            <td>10-12</td>
            <td>6-12ヶ月</td>
          </tr>
          <tr>
            <td>013</td>
            <td>12-14</td>
            <td>12-24ヶ月</td>
          </tr>
          <tr>
            <td>015</td>
            <td>14-16</td>
            <td>2-4才</td>
          </tr>
          <tr>
            <td>017</td>
            <td>16-18</td>
            <td>4-7才</td>
          </tr>
          <tr>
            <td>020</td>
            <td>19-21</td>
            <td>8-11才</td>
          </tr>
          <tr>
            <td>023</td>
            <td>22-24</td>
            <td>12才以上</td>
          </tr>
        </tbody>
      </table>
    </div>
  </li>
  <li class="accordion" data-controller="accordion">
    <button aria-expanded="false" class="accordion__button accordion__button--has-icon" data-accordion-target="trigger" data-action="accordion#toggle" type="button">
      <img alt="帽子" height="35" src="{{'icon_cap.svg' | asset_url}}" width="35">
      <span>帽子のサイズ</span>
    </button>
    <div class="accordion__content" data-accordion-target="content">
      <table>
        <thead>
          <tr>
            <th>表示</th>
            <th>サイズ</th>
            <th>参考年齢</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>039</td>
            <td>39</td>
            <td>新生児</td>
          </tr>
          <tr>
            <td>041</td>
            <td>41</td>
            <td>2-3ヶ月</td>
          </tr>
          <tr>
            <td>043</td>
            <td>43</td>
            <td>3-4ヶ月</td>
          </tr>
          <tr>
            <td>045</td>
            <td>45</td>
            <td>6ヶ月前後</td>
          </tr>
          <tr>
            <td>047</td>
            <td>47</td>
            <td>6-12ヶ月</td>
          </tr>
          <tr>
            <td>049</td>
            <td>49</td>
            <td>12-24ヶ月</td>
          </tr>
          <tr>
            <td>049</td>
            <td>49</td>
            <td>12-24ヶ月</td>
          </tr>
          <tr>
            <td>051</td>
            <td>51</td>
            <td>3-4才</td>
          </tr>
          <tr>
            <td>053</td>
            <td>53</td>
            <td>5-6才</td>
          </tr>
          <tr>
            <td>055</td>
            <td>55</td>
            <td>7-8才</td>
          </tr>
          <tr>
            <td>057</td>
            <td>57</td>
            <td>9才以上</td>
          </tr>
        </tbody>
      </table>
    </div>
  </li>
</ul>
