<section class="article-list">
  <div class="article-list__header">
    <h2>News & Topics</h2>
    <a class="article-list__view-all" href="/news">一覧</a>
  </div>
  <ul class="article-list__list">
    <li>{% render 'article-item', title: '選べるベビーカーグッズセットが登場\n「SMOOOVEキャンペーン」', category: 'event', date: '2022.3.18' %}</li>
    <li>{% render 'article-item', title: '選べるベビーカーグッズセットが登場\n「SMOOOVEキャンペーン」', category: 'news', date: '2022.3.18' %}</li>
    <li>{% render 'article-item', title: '選べるベビーカーグッズセットが登場\n「SMOOOVEキャンペーン」', category: 'item', date: '2022.3.18' %}</li>
  </ul>
</section>