<div class="mypage mypage-account-info">
  <div class="container gap-50 lg:gap-60 pt-40 lg:pt-60 pb-70 lg:pb-160">
    <h1 class="mypage__title">登録メールアドレス変更完了</h1>
    <p class="mypage__description mypage__description--large">登録メールアドレスの変更が完了しました。<br>新しいメールアドレスでログインしてください。</p>
    <div class="mypage__footer">
      <a class="button button--cta" href="#" data-action="login#open" type="button">ログインする</a>
    </div>
  </div>
</div>
