<section class="page-header">
	<div class="thousand-days__hero-image">
	  <img alt="{{ section.settings.title }}" class="lazy animated" data-src="{{ section.settings.image | img_url:'master' }}">
	</div>
	{% if section.settings.description %}
	  <p class="page-header__description">{{ section.settings.description | newline_to_br }}</p>
	{% endif %}
	{% if section.settings.caution %}
	  <p class="page-header__caution">{{ section.settings.caution | newline_to_br }}</p>
	{% endif %}
</section>
{% schema %}
{
  "name": "Event Main",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Page Title"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "画像"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Page Description"
    },
    {
      "type": "textarea",
      "id": "caution",
      "label": "Additional Details"
    }
  ]
}
{% endschema %}