{%- assign has_tag_pickup = false -%}
{% assign product_tag_store = '' %}
{% assign stores = '松坂屋名古屋店,ジェイアール名古屋タカシマヤ,星ヶ丘三越ファミリア,名古屋ラシック店,あべのハルカス近鉄本店,近鉄百貨店上本町店ファミリアショップ,髙島屋堺店ファミリアショップ,髙島屋泉北店ファミリアショップ,大丸心斎橋店,大丸梅田店,千里阪急,高槻阪急,京阪百貨店守口店ファミリアショップ,阪急うめだ本店,大阪髙島屋,そごう横浜店,髙島屋横浜店,多摩プラザ店,横浜元町店,博多阪急ファミリアショップ,大丸下関店ファミリアショップ,井筒屋小倉店ファミリアショップ,トキハ本店ファミリアショップ,長崎浜屋ファミリアショップ,福岡岩田屋,大丸京都店,近鉄百貨店和歌山店ファミリアショップ,ジェイアール京都伊勢丹ファミリアショップ,京都髙島屋,奈良近鉄,天満屋倉敷店ファミリアショップ,井筒屋山口店ファミリアショップ,高松三越ファミリアショップ,そごう広島店,髙島屋岡山店,高知大丸ファミリアショップ,天満屋岡山店ファミリアショップ,天満屋福山店ファミリアショップ,広島福屋ファミリア,いよてつ髙島屋ファミリア,伊勢丹新宿店,小田急百貨店新宿店,髙島屋日本橋店,西武池袋本店ファミリアショップ,髙島屋玉川店ファミリアショップ,髙島屋新宿店,松屋銀座店ファミリアショップ,京王百貨店新宿店ファミリアショップ,三越日本橋店,銀座三越ファミリアショップ,東武百貨店池袋店,東急本店,ファミリア自由が丘店,吉祥寺東急,ファミリア広尾店,ファミリア町田小田急店,代官山店,山陽百貨店,西宮阪急,神戸阪急,川西阪急,宝塚阪急,加古川ヤマトヤシキファミリアショップ,ファミリアさんちか店,芦屋モンテメール店,神戸本店,仙台三越ファミリアショップ,さっぽろ東急ファミリア,水戸京成百貨店ファミリアショップ,伊勢丹立川店ファミリアショップ,伊勢丹浦和店ファミリアショップ,髙島屋柏店ファミリアショップ,津松菱ファミリアショップ,大和香林坊店ファミリアショップ,大和富山店ファミリアショップ,松坂屋静岡店ファミリアショップ,ながの東急百貨店ファミリアショップ,新潟伊勢丹ファミリア,三井アウトレットパーク マリンピア神戸ファミリアショップ,三井アウトレットパーク 横浜ベイサイドファミリアショップ' | split: ',' %}

{%- for item in cart.items -%}
  {%- if item.product.tags contains '配送不可商品' -%}
    {%- assign has_tag_pickup = true -%}
  {%- endif -%}

  {%- for store in stores -%}
    {%- if item.product.tags contains store -%}
      {%- unless product_tag_store contains store -%}
        {% assign product_tag_store = product_tag_store | append: '"' | append: store | append: '"' | append: ',' %}
      {%- endunless -%}
    {%- endif -%}
  {%- endfor -%}
{%- endfor -%}

{% assign product_tag_store = product_tag_store | remove_last: ','  %}

<span
  data-total_cart="{{ cart.item_count }}"
  data-product_type='{{ cart.items[0].product.type }}'
  data-tag_pickup="{{ has_tag_pickup }}"
  data-store='[{{ product_tag_store }}]'
  class="hidden js-arrayInfoCart"
></span>

{% schema %}
{
  "name": "カート関連情報",
  "class": "info-cart"
}
{% endschema %}
