<style>
	.template-503{
		text-align: center;
	}
</style>


<div class="template-503 page-width page-margin center">
	<div class="error__status">503</div>
    <div class="error__title">只今サイトが<br>混み合っております。</div>
    <div class="error__description">時間をおいてアクセスし直してください。</div>
</div>

{% schema %}
  {
    "name": "Main 503",
    "settings": []
  }
{% endschema %}