
<style>
	.template-500{
		text-align: center;
	}
</style>


<div class="template-500 page-width page-margin center">
	<div class="error__status">500</div>
    <div class="error__title">サーバーエラーが<br>発生しました。</div>
    <div class="error__description">サーバーの問題でお探しのページを表示できません。<br>再度時間をおいてアクセスしてください。</div>
</div>
{% schema %}
  {
    "name": "Main 500",
    "settings": []
  }
{% endschema %}