{% layout none %}
<div class="container gap-70 lg:gap-90">
    <ul class="item-list item-list--article">
      {% assign count_result = 0 %}
      {%- for item in search.results -%}
        {% assign count_result = count_result | plus: 1 %}
        <li class="{% if count_result > 6 %}hidden{% endif %}">
          <a href="{{ item.url}}">
          {% render 'article-item-v2', article: item, category: item.blog.title %}
          </a>
        </li>
      {%- endfor -%}
    </ul>
    {%  if count_result > 0%}
      {% render 'pagination', total_items: count_result, setting: settings  %}
    {% else %}
      <div class="template-search__results text-center article-empty page-width" >
        <div class="loading-overlay gradient"></div>
        <div class="article-empty-text center">
          <p class="list__no-items">
            一致する投稿が見つかりませんでした
          </p>
        </div>
      </div>
    {% endif %}
  </div>
{% schema %}
{
  "name": "News",
  "tag": "section",
  "class": "news-section"
}
{% endschema %}
