<div data-lang="{% if section.settings.language %}en{% else %}ja{% endif %}" class="pickup">
  {%- if section.settings.heading != blank -%}
    <h2 class="pickup__title">{{ section.settings.heading }}</h2>
  {%- endif -%}

  {%- if section.settings.sub_heading != blank -%}
    <h2 class="pickup__sub-title">{{ section.settings.sub_heading }}</h2>
  {%- endif -%}

  <div class="pickup__images" data-controller="scrollable">
    <button aria-label="左にスクロールする" class="scroll-item-list__button scroll-item-list__button--left" data-action="scrollable#scrollLeft" data-scrollable-target="leftButton" type="button"></button>
    <ul class="scroll-image-list" data-scrollable-target="content">
      {% for product in section.settings.product_list %}
        {% assign tag_company_sale_vip = false %}

        {%- for tag in product.tags -%}
          {%- if tag contains '社販セール品' or tag contains '社販セール' or tag contains 'VIP' -%}
            {% assign tag_company_sale_vip = true %}
          {%- endif -%}
        {%- endfor -%}

        {%- unless tag_company_sale_vip -%}
          <li>
            {% render 'item-product' card_product: product %}
          </li>
        {%- endunless -%}
      {% endfor %}
    </ul>
    <button aria-label="右にスクロールする" class="scroll-item-list__button scroll-item-list__button--right" data-action="scrollable#scrollRight" data-scrollable-target="rightButton" type="button"></button>
  </div>
</div>


{% schema %}
{
  "name": "ピックアップの商品設定",
  "class": "section-pick-up",
  "settings": [
    {
      "type":"checkbox",
      "id": "language",
      "label": "Show Page In English"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "ヘッダ"
    },
    {
      "type": "text",
      "id": "sub_heading",
      "label": "サブヘッダ"
    },
    {
      "type": "product_list",
      "id": "product_list",
      "label": "Products list"
    }
  ],
  "blocks": [

  ],
  "presets": [
    {
      "name": "ピックアップの商品設定"
    }
  ]
}
{% endschema %}
