<section id="recommendations-container" class="scroll-item-list{% if has_divider %} scroll-item-list--has-divider{% endif %}{% if has_header_link %} scroll-item-list--has-header-link{% endif %} recommendations-container__hidden">
    <h2 class="scroll-item-list__title">
      あなたにおすすめの商品
      {% if has_header_link %}
        <a class="scroll-item-list__view-all" href="{% if link %}{{ link }} {% else %}{{ collections[collection_gift].url }}{% endif %}">一覧</a>
      {% endif %}
    </h2>
  {% if description %}
    <p class="scroll-item-list__description">{{ description | newline_to_br }}</p>
  {% endif %}
  <div class="scroll-item-list__images" data-controller="scrollable">
    <button aria-label="左にスクロールする" class="scroll-item-list__button scroll-item-list__button--left" data-action="scrollable#scrollLeft" data-scrollable-target="leftButton" type="button"></button>
    <ul id="recommendations-list" class="scroll-image-list" data-scrollable-target="content">
      {% for product in section.settings.product_list %}
        <li>
          {%- render 'product-item', 
            card_product: product,
            media_aspect_ratio: true,
            show_secondary_image: true,
            lazyload: lazy_load 
            -%}
        </li>
      {% endfor %}
    </ul>
    <button aria-label="右にスクロールする" class="scroll-item-list__button scroll-item-list__button--right" data-action="scrollable#scrollRight" data-scrollable-target="rightButton" type="button"></button>
  </div>
</section>

{% schema %}
{
  "name": "Recommended Items",
  "settings": [
    {
      "type": "product_list",
      "id": "product_list",
      "label": "Products list"
    }
  ]
}
{% endschema %}