<main class="mypage mypage-order-history">
  <div class="container gap-40 pt-40 lg:pt-60">
    <h1 class="mypage__title">ご購入履歴詳細</h1>
    <div id="shop-order-container" class="container gap-70 lg:gap-160 pb-70 lg:pb-160">
        {% comment %} order data loaded from shop-order.ts {% endcomment %}
    </div>
  </div>
</main>
