<main class="mypage mypage-leave">
  <div class="container gap-50 lg:gap-60 pt-40 lg:pt-60">
    <h1 class="mypage__title">退会手続き</h1>
    <div class="mypage__description mypage__description--large">ファミリアメンバーズを退会される前に、<br class="sp">下記の注意事項を必ずご確認ください。</div>
    <div class="mypage-leave__caution">
      <h4>注意事項</h4>
      <ul class="mypage__notes">
        <li>個人情報規定ならびに弊社のセキュリティーシステム上、退会後の登録内容の確認はできなくなります。</li>
        <li>ファミリアショップ・オンラインショップでご利用いただけるお持ちのポイントは無効となります。</li>
        <li>既にご注文いただきました未発送の商品は、退会後も発送を行わせていただきます。</li>
        <li>退会後、同一メールアドレスで再登録された場合は新規会員登録となります。</li>
      </ul>
    </div>
    <div class="mypage__footer">
      <a class="button button--cta" href="/account?view=withdrawl_confirm">退会する</a>
      <button class="button button--has-icon-arrow-left" data-action="back-button#goBack" data-controller="back-button" type="button">もどる</button>
    </div>
  </div>
</main>
