{% if customer %}
	<script>
		window.location.href = '/account';
	</script>
{% endif  %}

<main id="register-terms" class="mypage">
  <div class="mypage-register-stepper mt-20 lg:mt-30">
    <ul class="stepper">
      {% assign items = "利用規約,会員登録,情報登録,完了" | split: ',' %}
      {% for item in items %}
        <li class="stepper__item{% if forloop.first %} stepper__item--current{% endif %}">
          <span class="stepper__title">{{ item }}</span>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="mypage-register" data-controller="tos">
    <div class="container gap-50 lg:gap-60 pt-50 lg:pt-80 pb-70 lg:pb-160">
      <h1 class="mypage__title">新規会員登録</h1>
      <div class="container gap-30 lg:gap-40">
        <h2 class="mypage__sub-title text-center">ファミリアメンバーズ利用規約</h2>
        <div class="container gap-20 lg:gap-40">
          <hr>
          <pre class="mypage-register__tos">
          株式会社ファミリア（以下 当社といいます）は、当社が運営する「ファミリアメンバーズ」の会員サービス（以下 本サービスといいます）における利用規約（以下 本規約といいます）を以下の通り定めます。
          本サービスをご利用される方は、本規約の全ての条項を承諾していただくことが条件となりますので、ご登録前に本規約を必ずお読みください。

          第1条　会員資格
          「ファミリアメンバーズ会員」（以下 会員といいます）とは、本規約の内容を理解・承認の上、当社に本サービスへの登録を申し込み、所定の手続きをされた方をいいます。
          2016年5月31日以前にファミリア店舗・ファミリアホームページでご登録された「fcard会員」「WEB会員」にご登録された方も自動的に本サービスの対象となります。

          第2条　会員登録
          1. 本サービスの登録希望者は、当社指定のファミリア店舗およびファミリアホームページから所定の個人情報およびパスワードを設定・入力の上、メンバーズ登録申請を行うものとします。
          2. 会員は、登録情報の一部または全部を問わず、真実かつ正確な情報を入力し、虚偽の情報、第三者の情報、存在しない情報等は一切登録してはならないものとします。
          3. 会員登録は個人のみの登録とし、法人等の団体では登録できません。 登録は一人当り1メールアドレスを1アカウントとし、一人当り1アカウントのみの登録とします。
          4. 会員は上記の登録情報が真実かつ正確な内容を反映するものであるように、適宜修正しなければなりません。
          5.万一上記に違反した場合または、真実かつ正確な情報が提供されていないと当社が判断した場合には、 当社は当該会員のアカウントを削除し、将来に渡りサービスの利用をお断りできるものとします。

          第3条　メンバーズカード
          会員には会員証として「fcard」もしくは「ファミリアアプリ」「モバイルカード」（以下をメンバーズカードと総称します）を発行いたします。
          メンバーズカードは会員が自己の責任で管理・使用するものとします。
          メンバーズカードは会員本人のみが使用できるものとし、第三者への譲渡・貸与はできません。
          1. 「fcard」
          （1）. 発行されたｆcardを受領されたお客様は、直ちに所定の手続きを行い会員登録を完了させ、注意をもってカードを保管、使用するものとします。
          （2）fcardは、ファミリアホームページの会員登録ページにて、氏名・生年月日・電話番号・その他必要事項を登録完了の後、初めて本サービス使用の対象となります。
          2. 「ファミリアアプリ」
          （1）. 当アプリをスマートフォンよりダウンロードいただき、会員登録を完了してください。
          （2）. 機種変更などによりスマートフォンが替わった場合、会員の責任において、カードアプリを再取得していただくものとします。
          3. 「モバイルカード」
          （1）既に本サービスのご登録を完了、もしくは新規で当社会員登録ページを通じて会員登録を完了した場合、「マイページ」より「モバイルカード」がご使用いただけます。
          （2）モバイルカードはスマートフォン・タブレット端末にてご使用いただけます。

          第4条　会員サービス
          会員は本サービス対象店舗・ファミリアホームページにおいて当社が提供する次の各号のサービスをご利用いただけます。
          ただし、会員が本サービスを受けるためには、本サービス対象店舗でのメンバーズカードのご提示もしくはファミリアホームページでのログインが必要です。
          1. ポイントサービス
          会員は本サービス対象店舗・ファミリアオンラインショップで商品を購入された場合、第5条で定めるポイントサービスをご利用いただけます。
          2. 情報提供サービス
          会員は入会時に自ら希望した場合、メール配信・ダイレクトメール送付・プッシュ通知等にて情報提供サービスを受けられるものとします。
          なお、希望していない場合についても、通知すべきと当社が判断した重要な内容に限り、メール配信を行う場合があります。
          3. イベント参加サービス
          会員は当社主催のファミリア店舗・ファミリアホームページ・外部会場でのイベント・セールに応募・参加できるサービスをご利用いただけます。
          4. その他当社が今後提供する各種サービスをご利用いただけます。

          第5条　ポイントサービス
          会員は本サービス対象店舗で購入時にメンバーズカードを提示、およびオンラインストアで登録メールアドレスとパスワードでログインした場合に限り
          以下のポイントサービスをご利用いただけます。
          1. ポイントの加算
          （1）1回のお買い物が、1,000円（税抜）以上の場合に、お買上金額の5％をポイントとして加算致します。
          但しセール品・送料・各種手数料または当社指定の商品券等でのお支払いは除きます。
          （2）ポイントの加算タイミングは店舗ではご購入が完了した時点、オンラインショップでは商品の発送完了時点とします。
          2. ポイントの使用
          （1）ポイントの使用は会員登録完了後に可能となります。仮登録状態（会員としての必須情報が登録されていない状態を言います）ではポイントの加算のみ行い、ポイントはご利用いただけません。
          （2）ポイントはご購入商品代金の値引きとして、2,000ポイント以上1,000ポイント単位でご使用いただき、1ポイント1円換算で商品の税抜価格より値引きいたします。
          （3）ポイントは送料・各種手数料にはご使用いただけません。
          （4）ポイントは本サービス対象店舗、並びにオンラインショップでの商品のご購入に際しご使用いただけます。
          （5）ポイントの換金・譲渡はできません。
          3. ポイントの有効期限
          ポイントの有効期限は最終購入月より2年間とし、有効期限を過ぎると全てのポイントが無効となります。
          4. お買い上げ商品の返品・交換時のポイント処理
          （1）会員はファミリアホームページのオンラインショップに掲示する『ご利用ガイド』で規定された運用方法にてお買い上げ商品を返品・交換する際は、メンバーズカードの提示が必要です。
          （2）お買い上げ商品を返品された場合には、すでに加算されたポイント相当数を減算いたします。
          （3）ポイントご使用後に返品された場合は、使用されたポイントの返還を請求させていただきます。

          第6条　登録情報の管理
          1. 会員は、メールアドレス（ログインID）およびパスワードを自己の責任において管理するものとします。
          2. 会員は、ログインIDおよびパスワードについて第三者に貸与、譲渡、共有、名義変更、売買、質入等してはならないものとし、パスワードについては、第三者に開示しないものとします。
          3. ログインIDおよびパスワードの管理不備、使用上の過誤、第三者の使用等による損害の責任は 会員本人が負うものとし、法令により免責が認められない場合を除き当社は一切責任を負いません。
          4. ログインIDならびにパスワードを利用して行われた行為の責任はログインIDを保有している会員本人の責任とみなします。
          5. 当社は、会員が登録した情報に誤りがある場合、または誤りがあるおそれがあると当社が判断した場合には会員へ事前の承諾を得ることなく、会員登録内容の一部または全部の変更が行えるものとします。
          6. 登録ユーザーは、IDおよびパスワードの盗難があった場合、IDおよびパスワードの失念があった場合、 またはIDおよびパスワードが第三者に使用されていることが判明した場合には、直ちに当社にその旨連絡するとともに、 当社からの指示がある場合には、これに従うものとします。
          7. 会員は、登録した情報に変更が生じた場合には、ファミリアホームページの『マイページ』にて自身で更新、またはカスタマーサービスセンターへの訂正通知にて遅滞無く登録情報の変更をするものとします。
          変更登録がなされなかったことにより生じた損害については、当社は一切責任を負いません。

          第7条　メンバーズカードの紛失・盗難・破損
          1. カードの紛失･盗難･破損が発生した場合には、速やかに下記のファミリアカスタマーサービスセンターへご連絡ください。
          2. 紛失・盗難等で失くされたカードに累積されたポイントは、当社が遅滞なくその旨の通知を受け、かつ本人確認ができた場合に限り再付与します。
          3. カードを紛失したことに伴う責任は、一切会員が負うものとします。

          第8条　退会および会員登録の抹消による本サービスの利用停止
          1. 会員は、当社所定の手続を経て、いつでも退会することができるものとします。
          2. 会員は、当社が会員からの退会申請を受領した時点で会員資格を喪失し、当社は会員登録を抹消します。
          3. 会員が以下の各号に該当する場合、当社は事前に通知することなく、 直ちに当該会員に対して本サービスの利用停止、アカウント登録の抹消その他当社が適切であると判断した処置を講ずることができるものとします。
          （1）第9条の禁止行為を行った場合。
          （2）登録された事項に虚偽があった場合。
          （3）【本規約】・【ファミリアオンラインショップ利用規約】・その他当社が定めた規約に違反した場合。
          （4）その他、本サービスの管理運営上、会員登録の継続が不適切であると当社が判断した場合。
          （5）(1)から(4)の理由により、過去に会員登録の抹消等の処分を受けていたことが判明した場合
          （6）当社ホームページヘのログイン・オンラインショップ・本サービス対象店舗でのご購入が3年間なされない場合。
          4. 退会等により会員登録が抹消され、再び同一利用者が会員登録を行う場合であっても、当社は当該利用者による登録を新規のメンバーズ登録として扱います。

          第9条　禁止事項
          会員は本サービスの利用にあたって以下の行為を行ってはならないものとします。
          1. 第三者もしくは当社の著作権、その他の権利を侵害する行為、また侵害する虞のある行為。
          2. 第三者もしくは当社の財産もしくはプライバシーを侵害する行為、または侵害する虞のある行為。
          3. 第三者もしくは当社に不利益もしくは損害を与える行為、またはそれらの虞のある行為。
          4. 公序良俗に反する行為もしくはその虞のある行為。
          5. 狙罪的行為もしくは犯罪的行為に結びつく行為、またはその虞のある行為。
          6. 個人・法人を問わず、当社の承認無く、営利目的でのオンラインショップにおける商品購入、またはその準備を目的とした行為。
          7. 当社および本サービスの運営を妨げる行為。
          8. 当社および本サービスの信用を毅損する行為。
          9. IDおよびパスワードを不正に使用する行為。
          10. 法令に違反する、または違反する虞のある行為。
          11. その他、当社が不適切と判断する行為。

          第10条 個人情報の収集・管理・利用
          1. 当社は利用者の登録情報の収集・管理・利用に付いては、 別途定める【プライバシーポリシー】が適用されるものとします。
          2. 個人情報の他に.当社は利用者のアクセス履歴および利用状況の調査のため、または利用者へのサービス向上のために利用者のアクセス履歴に関する下記の情報を収集します。
          （1）利用者が本サービスのサーバーにアクセスする際のIPアドレスまたは携帯端末の機体識別番号に関する情報。
          （2）当社が、クッキーの技術（Webブラウザを通じてユーザーのコンピュータに一時的にデータを書き込んで利用者が最後にサイトを訪れた日時、そのサイトの訪問回数等を記録保存する技術をいいます。）を通じて取得する利用者のアクセス情報。
          3. 利用者は、利用者がWebブラウザでクッキーを拒否するための設定を行った場合、本サービスの利用が制限される場合があることを予め了承するものとします。

          第11条 ファミリア　オンラインショップの利用
          会員がファミリアオンラインショップの利用を行う場合は、本規約に加え、【ファミリアオンラインショップ利用規約】が適用されるものとします。

          第12条　本規約および本サービスの内容の変更
          当社は、当社が必要と認める場合に、本規約ならびに本サービスの内容を変更または停止・終了できるものとします。
          この場合、あらかじめ当該変更内容を当社ホームページ・本規約ページにて公表し、当該変更に関わる改訂年月日以降会員が本サービスを利用したときに、会員がその内容を承認したものとみなします。

          第13条　免責事項
          1. 第10条規定の事項に起因して会員または第三者に損害が発生した場合、当社に故意又は重大な過失がある場合を除き、当社はその責任を負いません。
          2. 本サービスを通じて提供される情報に関し、会員と他の会員あるいは第三者との間に紛争が生じた場合は、会員は自己の費用と責任においてこれを解決するものとし、当社には一切損害・不利益等を与えないものとします。
          3. 会員は、本サービスを利用するのに必要なコンピュータ機器や通信機器等の準備、設置に関する費用、本サービスを利用するために要した電話・FAX料金、インターネット接続料金、回線使用料等の通信料金、その他一切の費用を負担するものとします。
          4. 当社は、会員が本サービスをご利用になれなかったことにより発生した一切の損害について、当社に故意または重過失がある場合を除き、いかなる責任も負わないものとします。
          5. 第8条規定の事項に起因して会員または第三者に損害が発生した場合、当社はその責任を負いません。

          第14条　著作権および知的財産権
          1. 本サービスで提供するコンテンツ（画像、テキスト、デザイン、ロゴ、映像、プログラム、アイディア、情報等）（以下「コンテンツ」といいます）の著作権および知的財産権は全て当社または当社に使用許諾を与えた第三者に帰属するものとします。
          2. 目的の如何を問わず、当社のコンテンツの無断複製、無断転載、その他の無断二次利用行為等の国内および国外の著作権法およびその他の法令により禁止される行為が発見された場合には、当社は直ちに法的措置をとるものとします。

          第15条　その他
          1. 本サービスの利用に関して、本規約または当社の指導・対応により解決できない問題が生じた場合には、当社と利用者との間で双方誠意をもって話し合い、これを解決するものとします。
          2. 本サービスの利用に関して訴訟の必要が発生した場合には、神戸地方裁判所を第一審の専属合意管轄裁判所にするものとします。
          付則：本規約は2016年6月1日から全ての利用者に適用されるものとします。

          第16条　お問い合わせ・相談窓口
          本規約と本サービスにおけるすべてのお問い合わせ先は、下記になります。
          株式会社ファミリア　カスタマーサービスセンター
          TEL：0120-078-345（10時～12時　13時～16時、土日祝 ・年末年始は除く）
          ※IP電話・海外からのお電話はご利用いただけません。
        </pre>
          <hr>
        </div>
        <div class="text-center">
          <label class="checkbox">
            <input data-action="tos#toggle" data-tos-target="checkbox" name="agree-to-tos" type="checkbox">
            <span>{% render 'icon-checkbox' %}</span>
            利用規約に同意する
          </label>
        </div>
      </div>
      <div class="mypage__footer">
        <button id="tos-agree-button" class="button button--cta" data-tos-target="button" disabled>次へ</button>
      </div>
    </div>
  </div>
</main>

<main id="register-email" class="mypage" hidden>
  <div class="mypage-register-stepper mt-20 lg:mt-30">
    <ul class="stepper">
      {% assign items = "利用規約,会員登録,情報登録,完了" | split: ',' %}
      {% for item in items %}
        <li class="stepper__item{% if forloop.index0 == 1 %} stepper__item--current{% elsif forloop.index0 < 1 %} stepper__item--done{% endif %}">
          <span class="stepper__title">{{ item }}</span>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="mypage-register">
    <div class="container gap-50 lg:gap-60 pt-50 lg:pt-80 pb-70 lg:pb-160">
      <div class="container gap-10 lg:gap-15">
        <h1 class="mypage__title">新規会員登録</h1>
        <div class="mypage__description text-center">ログインIDとして使用する<br>メールアドレスをご入力ください。</div>
      </div>
      
      <div class="input-form">
        <h2 id="error-message" hidden>
          <span class="visually-hidden">エラー </span>
          <svg aria-hidden="true" focusable="false" role="presentation" viewBox="0 0 13 13">
          <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"></circle>
          <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"></circle>
          <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"></path>
          <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
          </path></svg>
          
        </h2>
        <div class="grid-cols-2">
          <label class="input-form__label col-span-2">メールアドレス*</label>
          <input id="email-1" class="col-span-2" name="email-address" placeholder="you@familiar.co.jp" required type="text">
          <p class="error hide" id="email-1-error-text"></p>
        </div>
        <div class="grid-cols-2">
          <label class="input-form__label col-span-2">メールアドレス（確認用の再入力）*</label>
          <input id="email-2" class="col-span-2" name="email-address" placeholder="you@familiar.co.jp" required type="text">
          <p class="error hide" id="email-2-error-text"></p>
        </div>
      </div>
      <div class="mypage__footer">
        <a id="email-button" class="button button--cta">メールを送信する</a>
      </div>
    </div>
  </div>
</main>

<main id="register-email-sent" class="mypage" hidden>
  <div class="mypage-register-stepper mt-20 lg:mt-30">
    <ul class="stepper">
      {% assign items = "利用規約,会員登録,情報登録,完了" | split: ',' %}
      {% for item in items %}
        <li class="stepper__item{% if forloop.index0 == 1 %} stepper__item--current{% elsif forloop.index0 < 1 %} stepper__item--done{% endif %}">
          <span class="stepper__title">{{ item }}</span>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="mypage-register">
    <div class="container gap-50 lg:gap-60 pt-50 lg:pt-80 pb-70 lg:pb-160">
      <h1 class="mypage__title">新規会員登録</h1>
      <div class="container gap-30 lg:gap-35">
        <p class="mypage__description mypage__description--large">まだ登録は完了しておりません。<br>下記のメールアドレスに<br>確認メールを送信致しましたので、<br>記載内容に従い登録手続きを完了してください。</p>
        <p id="display-sent-email" class="mypage__email"></p>
      </div>
      <div class="mypage__footer">
        <button id="resend-email-button" class="button button--cta" type="button">メールを再送する</button>
        <div class="mypage__footer-note">※ 一定時間が経過しても登録確認メールが届かない場合は、<br>迷惑メールフォルダのご確認もお願いいたします。</div>
      </div>
    </div>
  </div>
</main>

<script>
 document.addEventListener('DOMContentLoaded', function(event) {
    const agreeBtn = document.getElementById('tos-agree-button');
    const termsTab = document.getElementById('register-terms');
    const emailTab = document.getElementById('register-email');

    const switchTabs = () => {
      termsTab.hidden = true;
      emailTab.hidden = false;
      document.body.scrollTop = document.documentElement.scrollTop = 0;
    }
    
    if(!agreeBtn) return;
    agreeBtn.addEventListener('click', function(e) {
      e.preventDefault();
      switchTabs();
    });
 })
</script>