.password-header .h2{
	font-size: 2rem;
}
.password-main .password-content{
	height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content-password p{
	font-size: 1.4rem;
	margin: 0px;
}
.password-content h2{
	margin-top: 0px;
}
.content-password{
	max-width: 400px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.password .modal__content{
	position: fixed;
    width: 100%;
    left: 0px;
    z-index: 99;
    height: 100%;
    top: 0px;
    background-color: #ffffff;
}
@media only screen and (min-width: 768px){
	.password-modal__content .modal__close-button .sp{
		display: none;
	}
}

@media only screen and (max-width: 767px){
	.password-modal__content .modal__close-button .pc{
		display: none;
	}
}